<!DOCTYPE html>
<!-- Add a form page which takes input from the user to create a new entry in the phone book. It should have at least the fields:
  name
  phone number
  email
The form's action attribute should point to /submit_new_entry - you will write the handler for it in the next step. This page should be displayed at the URL: /new_entry. -->
{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <form class="" action="/submit_new_entry" method="POST">
        <div class="form-group">
          <label for="name">Name</label><br>
          <input type="text" class="form-control" name="name" value="">
        </div>
        <div class="form-group">
          <label for="phone_number">Phone Number</label><br>
          <input type="text" class="form-control" name="phone_number" value="">
        </div>
        <div class="form-group">
          <label for="email">Email</label><br>
          <input type="text" class="form-control" name="email" value="">
        </div>
        <p>
          <button type="submit" class="btn btn-default btn-block" name="submit_new_entry">Add Entry</button>
        </p>
      </form>
      <div class="col-md-3">

      </div>
    </div>
  </div>
</div>

{% endblock %}
