<!DOCTYPE html>
<!-- Add a form page for editing an existing entry in the database at the URL /update_entry -->
{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <h1 class="text-center">{{ title }}</h1>
    <hr>
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <form class="" action="/submit_update_entry" method="POST">
        <div class="">
          <input type="hidden" name="id" value="{{ contact_list[0].id }}">
        </div>
        <div class="form-group">
          <label for="name">Name</label><br>
          <input type="text" class="form-control" name="name" value="{{ contact_list[0].name }}">
        </div>
        <div class="form-group">
          <label for="phone_number">Phone Number</label><br>
          <input type="text" class="form-control" name="phone_number" value="{{ contact_list[0].phone_number }}">
        </div>
        <div class="form-group">
          <label for="email">Email</label><br>
          <input type="text" class="form-control" name="email" value="{{ contact_list[0].email }}">
        </div>
        <p>
          <button type="submit" class="btn btn-success btn-block" name="action" value="update">Update Entry</button>
        </p>
        <p>
          <button type="submit" class="btn btn-danger btn-block" name="action" value="delete">Delete Entry</button>
        </p>
      </form>
      <div class="col-md-3">

      </div>
    </div>
  </div>
</div>

{% endblock %}
